/* Шрифти */
@import url("fonts.css");
/* Обнулення */
@import url("reset.css");
/* Стилі за замовчуванням */
body{
	color: #7D7D7D;
	font-size: 18px;
	font-family: "Inter",sans-serif;
}
body > * {
	margin-bottom: 20px;
	padding-bottom: 30px;
}
.wrapper{
	overflow: clip;
	min-height: 100%;
}
.section-title {
	margin: 0 auto 10px;
	font-size: 26px;
	border-radius: 30px;
	padding: 5px 10px;
	text-align: center;
	max-width: 300px;
	border: 3px solid rgb(89, 0, 255);
	color: #000;
}
[class*="-text"]{
	line-height: 1.2;
}
[class*="_container"]{
	max-width: 1220px;
	margin: 0 auto;
	margin-bottom: 20px;
}
[class*="_title"]{
	font-size: 32px;
	margin-bottom: 15px;
	text-align: center;
	border: 10px solid #2d5de0;
	color: #000;
	padding: 30px;
}
.header {
	padding: 25px 15px;
	background-color: #b3b4d3;
	margin-bottom: 15px;
}
.header__list {

}
.list-header {
	text-align: center;
}
.list-header__link:not(:last-child){
	margin-right: 55px;
}
.list-header__link {
	color: #000;
	display: inline-block;
	font-size: 20px;
}
.list-header__link:hover{
	color: #0a2f94;
}
/* Стилі блоку відпрацювання */
.working-out__static,.working-out__static ~ div {
	width: 200px;
	background-color: #eb0d0d;
	color: #000;
	padding: 20px;
}

.working-out div:not(:last-child){
	margin-bottom: 20px;
}
.working-out__static {
}
.working-out{
	position: relative;
}
.working-out__relative{
	position: relative;
	left: 350px;
	top: 50px;
}
.working-out__absolute {
position:absolute;
left: 730px;
top: 240px;
}
.working-out__fixed {
	position: fixed;
	left: 930px;
}
.working-out__sticky {
	position: sticky;
	top: 20px;
	left: 0;
	z-index: 2;
}
/* Стилі блоку з макету */
.card{
	position: relative;
}
.maket{
	font-size: 0;
	font-family: 'Poppins',sans-serif;
}
.maket__section:not(:last-child){
	margin-bottom: 31px;
}
.maket__section>*:not(:last-child){
	margin-right: 31px;
	
}
.maket__photo {
	display: inline-block;
	max-width: 386px;
	max-height: 532px;
}
.card__discription {
	z-index: 2;
	position: absolute;
	right: 23px;
	top: 396px;
	width: 341px;
	background-color: #fff;
	padding: 24px;
}

.cart__name {
	text-align: center;
	font-size: 25px;
	font-weight: 600;
	color: #37393F;
	line-height: 1.52;
}
.cart__job-title {
	font-family: "Inter",serif;
	text-align: center;
	font-size: 18px;
	line-height: 1.35;
}
.card__cover{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(107, 119, 229, 0.7);
	text-align: center;
	visibility: hidden;
	opacity:0;

}
.card__cover img{
	position: relative;
	top: 50%;
	transform: translate(0,-50%);
}
.card__cover a:first-child img{
	padding: 2.5px;
}
.card__cover a:not(:first-child){
	margin-left: 13px;
}
.card:hover>.card__cover{
	visibility: visible;
	opacity: 1;
}
/* Сайт з фіксованою шапкою та липкими блоками */
.header__list{
	text-align: center;
}
.header__element{
	display: inline-block;
	font-size: 30px;
	font-family: 'Poppins',serif;
	color: #000;
}
.header__element:hover{
	color: #615a5a;
}
.header__element:nth-child(1){
	position: relative;
	padding-bottom: 5px;
}
.header__element:nth-child(1):hover .header__list-two{
	visibility: visible;
	opacity: 1;
}
.header__element:not(:last-child){
	margin-right: 30px;
}
.header__list-two {
	background-color: #8a2e2e;
	padding: 10px 0px;
	position: absolute;
	width: 100px;
	top: 100%;
	left: 50%;
	transform: translate(-50%);
	visibility: hidden;
	opacity: 0;
	color: #000;
}
.two-list__element:not(:last-child) {
	margin-bottom: 5px;
}
.two-list__element {
	font-size: 25px;
	position: relative;
}
.two-list__element:hover{
	color: #615a5a;
}
.two-list__list-sub {
	background-color: #eb0d0d;
	padding: 10px 0px;
	width: 100px;
	position: absolute;
	top: 0;
	left:100%;
	visibility: hidden;
	opacity: 0;
}
.two-list__element:nth-child(2):hover .two-list__list-sub{
	visibility: visible;
	opacity: 1;
	color: #000;
}
.sub-list {
	font-size: 20px;
}
.sub-list__element:hover {
	color: #615a5a;
}
.sub-list__element:not(:last-child){
	margin-bottom: 5px;
}