/* Шрифти */
@import url("fonts.css");
/* Обнулення */
@import url("reset.css");
/* Стилі за замовчуванням */
body{
	color: #7D7D7D;
	font-size: 18px;
	font-family: "Inter",sans-serif;
	background: url(../img/repeat.jpg);
}
.wrapper{
	max-width: 1400px;
	margin: 0 auto;
}
/* Стилі шапки */
.header {
	font-size: 24px;
	color: rgb(8, 218, 26);
	margin-bottom: 40px;
}
.header-menu {
	padding: 15px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
}
.menu-item {
	display: inline-block;
	padding: 3px 4px;
	border-radius: 7px;
	text-shadow: 2opx 2opx 3px black;
}
.menu-item:hover a{
	text-decoration: underline;
}
.header-menu >*:not(:first-child){
	margin-left: 10px;
}

/* Гра */
.main{
	margin-bottom: 40px;
}
.game {
	font-size: 0;
	max-width: 1200px;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	box-shadow: inset 2opx 2opx 9px rgb(8, 218, 26);
	margin: 0 auto 50px;
}
.game-title{
	text-align: center;
	font-size: 30px;
	color: rgb(2, 11, 245);
	margin-bottom: 25px;
}

.game-line-one {
	width: 30px;
	height: 40px;
	background-color:rgb(8, 218, 26);
	border-radius: 10px 10px 0 0;
}
.game-line-two {
	display: inline-block;
	width: 95%;
	height: 40px;
	background-color:  rgb(8, 218, 26);
	border-radius: 0 2opx 2opx 10px;
	visibility: hidden;
	opacity: 0;
}
.game-line-two.start{
	display: inline-block;
	width: 4%;
	height: 40px;
	background-color:rgb(8, 218, 26);
	border-radius: 0 10px 0 0;
	visibility: hidden;
	opacity: 0;
}
/* Поява другої лінії */
.game-line-one:hover ~ .game-line-two,.game-line-two:hover,.game-line-two:hover + .game-line-two{
	visibility:visible;
	opacity: 1;
}

.game-line-three {
	display: inline-block;
	width: 95%;
	height: 30px;
	background-color: rgb(0,0,0);
	visibility: hidden;
	opacity: 0;
}
.game-line-three.start{
	display: inline-block;
	width: 4%;
	height: 30px;
	background-color: rgb(8, 218, 26);
}
/* Поява третьої лінії */
.game-line-two.start:hover ~ .game-line-three.start,.game-line-three:hover{
	visibility: visible;
	opacity: 1;
}

.game-line-four-one {
	display: inline-block;
	width: 45%;
	height: 20px;
	background-color: rgb(0,0,0);
	vertical-align: top;
	visibility: hidden;
	opacity: 0;
}
.game-line-four.start{
	display: inline-block;
	width: 10%;
	height: 20px;
	background-color: rgb(8, 218, 26);
	border-radius: 10px 0 0 0;
	visibility: hidden;
	opacity: 0;
}
.game-line-four.two {
	display: inline-block;
	width: 54%;
	height: 20px;
	background-color: rgb(8, 218, 26);
	border-radius: 10px 0 10px 0;
	visibility: hidden;
	opacity: 0;
}
/* Поява четвертої лінії */
.game-line-three.start:hover ~.game-line-four,.game-line-four:hover,.game-line-four:hover > .game-line-four.start{
	visibility: visible;
	opacity: 1;
}

.game-line-five {
	display: inline-block;
	width: 10px;
	height: 170px;
	background-color:  rgb(8, 218, 26);
	visibility: hidden;
	opacity: 0;
}
.game-line-five.start{
	display: inline-block;
	width: 10px;
	height: 20px;
	background-color:  rgb(8, 218, 26);
	visibility: hidden;
	opacity: 0;
}
.game-line-five-one {
	display: inline-block;
	width: 10px;
	height: 150px;
	background-color: rgb(0,0,0);
	visibility: hidden;
	opacity: 0;
}

/* Поява п'ятої лінії */
.game-line-four.start:hover ~ .game-line-five,.game-line-five:hover,.game-line-five:hover .game-line-five.start{
	visibility: visible;
	opacity: 1;
}
.finish{
	color: rgb(8, 218, 26);
	width: 200px;
	font-size: 26px;
	text-shadow: 2opx 1px 1px black;
	margin-left:-20px;
	background-color: blue;
	padding: 3px 6px;
	border-radius: 7px;
	visibility: hidden;
	opacity: 0;
	margin-bottom: 5px;
}
.finish:hover{
	text-decoration: underline;
	
}
/* Поява кнопки */
.game-line-five.start:hover ~ .finish,.finish:hover{
	visibility: visible;
	opacity: 1;

}

.title-win{
	text-align: center;
	font-size: 30px;
	color:rgb(8, 218, 26);
	margin-bottom: 25px;
	margin-left: -5%;
	display: none;
}
.header:target ~ .main .game .title-win{
	display: block;
}
.header:target ~.main .game .game-title{
	display: none;
}
.header:target ~ .main .game .game-line-two,.header:target ~ .main .game
.game-line-three.start,.header:target ~ .main .game .game-line-four.two,.header:target ~ .main .game .game-line-four.two .game-line-five,.header:target ~ .main .game.game-line-four.two .finish{
	visibility:visible;
	opacity: 1;
}

.header:target ~ .main .game .game-line-four.two .game-line-five .reset{
	display: block;
}
.header:target ~ .main .game .game-line-four.two .game-line-five .finish{
	display: none;
}

.reset{
	color: rgb(8, 218, 26);
	width: 130px;
	font-size: 26px;
	text-shadow: 2opx 1px 1px #000;
	margin-left:-20px;
	background-color: rgb(255, 0, 0);
	padding: 3px 6px;
	border-radius: 7px;
	display: none;
}
.reset:hover{
	text-decoration: underline;
}

/* Блок домашніх макетів */
.homework{

}
.homework:not(:last-child){
	margin-bottom: 100px;
}
.homework > *:not(:last-child){
	margin-bottom: 50px;
}

/* Макет 1 */
.maket-one {
	box-shadow: 10px 6px 10px black;
	background-color: white;
	max-width: 732px;
	margin: 0 auto;
	padding: 20px;
}
.maket-one >*:last-child{
	margin-bottom: 0;
}
.maket-one-title {
	color: #37393F;
font-family: "Poppins";
font-size: 30px;
font-weight: 600;
line-height: 127%;
margin-bottom: 3px;
}
.maket-one-text {
	margin-bottom: 42px;
	line-height: 1.46187;
}
.maket-one-subtitle{
color: #6B77E5;
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 1.27; 
margin-bottom: 12px;
}
.maket-one-subtitle + .maket-one-text{
	margin-bottom: 40px;
}
.benefits {
	font-size: 0;
	margin-bottom: 50px;
}
.benefits-image {
	display: inline-block;
	vertical-align: top;
	
}
.benefits-content {
	display: inline-block;
	max-width: 332px;
	margin-left: 29px;
}
.benefits-title {
	color: #37393F;
font-family: "Poppins";
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 1.27;
margin-bottom: 15px;
}
.benefits-subtitle {
	color: #40DDB6;
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 1.27;
margin-bottom: 21px;
}
.benefits-list {
font-size: 18px;
line-height: normal;
}
.benefits-list li::before{
	content: "";
	background: url(../img/benefits-icon-list.svg) 0 0 no-repeat;
	width: 27px;
	height: 28px;
	display: inline-block;
	margin-right: 2.5px;
	margin-bottom: -8px;
}
.benefits-list li:not(:last-child){
	margin-bottom: 30px;
}
.benefits + .maket-one-title{
	margin-bottom: 4px;
}
/* Макет 2 */
.maket-two {
	background-color: white;
	max-width: 713px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 10px 6px 10px black;
}
.maket-two >*:last-child{
	margin-bottom: 0;
}
.maket-laybel::before{
	content: "";
	width: 12px;
	height: 12px;
	display: inline-block;
	background: #40DDB6;
	margin-top: 5px;
	margin-right: 6px;
}
.maket-laybel {
	color: #37393F;
font-weight: 500;
line-height: normal;
margin-bottom: 16px;
}
.two-title {
	color: #37393F;
font-family: "Poppins";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 1.21;
max-width: 413px;
margin-bottom: 20px;
}
.two-text {
	line-height: 1.46187;
	margin-bottom: 20px;
}
.two-text p:not(:last-child){
	margin-bottom: 15px;
}
.two-list {
	color: #37393F;
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 43px;
}
.two-list li::before{
	content: "";
	background: url(../img/benefits-icon-list.svg);
	width: 27px;
	height: 28px;
	display: inline-block;
	margin-right: 8px;
	margin-bottom: -8px;
}
.two-list li:not(:last-child){
	margin-bottom: 23px;
}
.two-advantages {
	margin-bottom: 37px;
}
.two-advantages >*:not(:first-child){
	margin-left: 21px;
}

.advantages-one { 
	max-width: 295px;
	width: 50%;
	display: inline-block;
	padding: 31px 32px 32px;
	border: 1px solid #E3E3E3;
}
.advantages-one::before{
	content: "";
	display: inline-block;
	width: 39px;
	height: 41px;
	background: url(../img/Icon-adventages-one.svg);
	margin-right: 19px;
}
.advantages-title {
	color: #37393F;
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: inline-block;
}
.advantages-text {
line-height: 1.35187;
display: inline-block;
padding-left: 64px;
font-size: 16px;
}
.advantages-two {
	max-width: 305px;
	border: 1px solid #E3E3E3;
	width: 49%;
	display: inline-block;
	padding: 31px 37px 32px;
}
.advantages-two::before{
	content: "";
	display: inline-block;
	width: 39px;
	height: 41px;
	background: url(../img/Icon-adventages-two.svg);
	margin-right: 19px;
}
.two-link {
	color: #FFF;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
	margin-bottom: 20px;
}
.two-link a {
	padding: 27px 21px 22px;
	background: #6B77E5;
}
/* Макет 3 */
.maket-three {
	padding: 20px;
	max-width: 1260px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 10px 6px 10px black
}
.three-laybel {
color: #37393F;
font-style: normal;
font-weight: 500;
line-height: normal;
text-align: center;
margin-bottom: 16px;
}
.three-laybel::before{
	content: "";
	width: 12px;
	height: 12px;
	display: inline-block;
	background: #40DDB6;
	margin-top: 5px;
	margin-right: 6px;
}

.three-title {
	color: #37393F;
text-align: center;
font-family: "Poppins";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 1.21;
margin-bottom: 77px;
}
.three-services-container {
	font-size: 0;
}
.three-services-container >*:not(:first-child){
	margin-left: 31px;
}
.one-services {
	background: #F4F4F4;
	padding: 58px 43px;
	max-width: 386px;
	display: inline-block;
}
.one-services::before{
	content: "";
	display: block;
	width: 72px;
	height: 72px;
	background: url(../img/services-one.svg);
	margin: -94px auto 22px;
}
.services-title {
	color: #37393F;
text-align: center;
font-family:"Poppins";
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 1.27;
margin-bottom: 16px;
}
.services-text {
	font-size: 18px;
	line-height: 1.46187;
	margin-bottom: 37px;
}
.servicas-link {
	color: #6B77E5;
text-align: center;
font-size: 18px;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
margin-bottom: 20px;
}
.one-services >*:last-child{
	margin-bottom: 0;
}
.two-services {
	background: #F4F4F4;
	padding: 58px 43px;
	max-width: 386px;
	display: inline-block;
}
.two-services::before{
	content: "";
	display: block;
	width: 72px;
	height: 72px;
	background: url(../img/services-two.svg);
	margin: -94px auto 22px;
}
.two-services >*:last-child{
	margin-bottom: 0;
}
.three-services {
	background: #F4F4F4;
	padding: 58px 43px;
	max-width: 386px;
	display: inline-block;
}
.three-services >*:last-child{
	margin-bottom: 0;
}
.three-services::before{
	content: "";
	display: block;
	width: 72px;
	height: 72px;
	background: url(../img/services-three.svg);
	margin: -94px auto 22px;
}
/* Макет чотири */
.maket-four {
	max-width: 1254px;
	background-color: white;
	padding: 20px;
	margin: 0 auto;
	font-size: 0;
	box-shadow: 10px 6px 10px black
}
.maket-four >*:last-child{
	margin-left: 55px;
}
.four-title {
	display: inline-block;
	color: #000;
font-family: "Cormorant Infant";
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: 1.15;
max-width: 488px;
vertical-align: top;
padding-top: 150px;
}
.four-title::after{
	content: "";
	height: 3px;
	width: 62%;
	background-color: #000;
	display: block;
	margin-top: 10px;
}
.product-one {
	display: inline-block;
	vertical-align: top;
	padding-top: 32px;
	max-width: 334px;
}
.product-one >*:last-child{
	margin-bottom: 0;
}
.product-image {
	border: 1px solid #000;
	margin-bottom: 34px;
}
.product-image img{
	margin: 9px -10px -9px 10px;
}
.product-name {
	color: #000;
font-family: "Cormorant Infant";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 1.4;
margin-bottom: 4px;
}
.product-cost {
	color: #000;
	font-family: "Cormorant Infant";
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 20px;
}
.product-title {
	color: #000;
font-family: "Cormorant Infant";
font-size: 46px;
font-style: normal;
font-weight: 700;
line-height: 1.13;
margin-bottom: 31px;
}
.product-two{
	display: inline-block;
	max-width: 334px;
}
.product-two >*:last-child{
	margin-bottom: 0;
}
/* Блок з властивостями */
.properties {
	background-color: #FFF;
	max-width: 1400px;
	margin: 0 auto;
	padding: 50px;
}
.properties-title {
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
	margin-bottom: 20px;
}
.term {
	color: #000;
}
/* Псевдоклас hover */
[class *="properties-"]:not(:last-child){
	margin-bottom: 50px;
}
.block {
	padding: 10px;
	background: green;
	text-align: center;
	color: #000;
	font-size: 24px;
	margin-bottom: 20px;
}

.inline-block {
	padding: 10px;
	background: green;
	text-align: center;
	color: #000;
	font-size: 24px;
	vertical-align: middle;
	max-width: 30%;
}
.inline {
	background: green;
	text-align: center;
	color: #000;
	font-size: 24px;
}
.discription {
	display: inline-block;
	max-width: 32%;
	vertical-align: middle;
	margin-left: 20px;
	font-size: 20px;
	visibility: hidden;
	opacity: 0;
}
.hover-block:hover{
	background: red;
	text-decoration: underline;
}
.hover-inline-block:hover{
	background: red;
	text-decoration: underline;
}
.hover-inline:hover{
	background: red;
	text-decoration: underline;
}
.hover-block:hover ~ .discription-hover,.hover-inline-block:hover ~ .discription-hover,.hover-inline:hover ~ .discription-hover{
	visibility: visible;
	opacity: 1;
}
/* Псевдоклас active  */
.container{
	display: inline-block;
	max-width: 32%;
	vertical-align: middle;
}

.active-block:active{
	background: red;
	text-decoration: underline;
}
.active-inline-block:active{
	background: red;
	text-decoration: underline;
}
.active-inline:active{
	background: red;
	text-decoration: underline;
}
.active-block:active ~ .discription-active,.active-inline-block:active ~ .discription-active,.active-inline:active ~ .discription-active,.container:active ~ .discription-active{
	visibility: visible;
	opacity: 1;
}
/* Псевдоклас visited */
.visited-inline-block.inline-block{
	text-align: center;
	margin: 0 230px 30px;
	max-width: 900px;
}

.visited-inline-block:visited.inline-block{
	background: red;	
}
.discription-visited.discription {
	max-width: 50%;
	display: block;
	margin: 0 auto;
	visibility: visible;
	opacity: 1;
}
/* Псевдоклас focus */
.focus-inline-block{
	margin: 0 auto;
	display: block;
	max-width: 100%;
}
.focus-inline-block:focus{
	outline: 3px solid red;
	border-radius: 1%;
}

.discription-focus{
	display: none;
}
.focus-inline-block:focus ~ .discription-focus {
	display: block;
	visibility: visible;
	opacity: 1;
	max-width: 40%;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}
/* Псевдоклас target */
.target-inline-block {
	max-width: 50%;
}

.discription-target {
	max-width: 40%;
}
.discription-target:target{
	visibility: visible;
	opacity: 1;
	display: inline-block;

}
/* Псевдокласи подоження в коді */
/* first-child,first-of-type,last-child,last-of-type, */
.properties-position-in-the-code {
	text-align: center;
	font-size: 25px;

}
.properties-position-in-the-code > *:not(:last-child){
	margin-bottom: 10px;
}
.properties-position-in-the-code p:first-child{
	background-color: red;
	color: black;

}
.properties-position-in-the-code div:first-of-type{
	background-color: green;
	color: #000;
	font-size: 25px;
}
.properties-position-in-the-code :nth-child(3){
	background-color: yellow;
}
.properties-position-in-the-code div:last-of-type{
	background-color: green;
	color: #000;
	font-size: 25px;
}
.properties-position-in-the-code p:last-child{
	background-color: red;
	color: black;

}
/* Псеадоклас :not */
.properties-exclusion{
	text-align: center;
	font-size: 25px;
}
.properties-exclusion >:not(:last-child){
	margin-bottom: 10px;
}
/* Псевдоелементи */
.properties-after-before >*:last-child{
	margin-bottom: 0;
}
.before{
	font-size: 30px;
	max-width: 50%;
	margin: 0 auto 10px;
}
.before::before {
	content: "";
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	margin: 0px 5px 5px 0px;
}
.after {
	font-size: 30px;
	max-width: 50%;
	margin: 0 auto 10px;
}
.after::after{
	content: "";
	width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 50%;
	margin: 0px 0px 5px 5px;
}
/* Стилі футера */
.footer {
	padding: 15px;
	background-color: #fff
}
.footer-text {
	margin-bottom: 10px;
	text-align: center;
	color: #000;
	font-size: 28px;
}
.footer-link{
	text-align: center;
}
.footer-link a{
	text-decoration: underline;
}

