/* Шрифти */
@import url("fonts.css");
/* Обнулення */
@import url("reset.css");
/* Стилі за замовчуванням */
body{
	color: #7D7D7D;
	font-size: 18px;
	font-family: "Inter",sans-serif;
	background: url(../img/repeat.jpg);
}
.wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
/* Стилі шапки */
.header {
	font-size: 24px;
	color: rgb(8, 218, 26);
	margin-bottom: 40px;
}
.header-menu {
	padding: 15px;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.4);
}
.menu-item {
	display: inline-block;
	padding: 3px 4px;
	border-radius: 7px;
	text-shadow: 0px 0px 3px black;
}
.menu-item:hover a{
	text-decoration: underline;
}
.header-menu >*:not(:first-child){
	margin-left: 10px;
}

/* Гра */
.game {
	font-size: 0;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.6);
	height: 450px;
	border-radius: 20px;
	box-shadow: inset 0px 0px 9px rgb(8, 218, 26);
	margin-bottom: 50px;
}
.game-title{
	text-align: center;
	font-size: 30px;
	color: rgb(2, 11, 245);
	margin-bottom: 25px;
}

.game-line-one {
	width: 30px;
	height: 40px;
	background-color:rgb(8, 218, 26);
	border-radius: 10px 10px 0 0;
}
.game-line-two {
	display: inline-block;
	width: 95%;
	height: 40px;
	background-color:  rgb(8, 218, 26);
	border-radius: 0 0px 0px 10px;
	visibility: hidden;
	opacity: 0;
}
.game-line-two.start{
	display: inline-block;
	width: 4%;
	height: 40px;
	background-color:rgb(8, 218, 26);
	border-radius: 0 10px 0 0;
	visibility: hidden;
	opacity: 0;
}
/* Поява другої лінії */
.game-line-one:hover ~ .game-line-two,.game-line-two:hover,.game-line-two:hover + .game-line-two{
	visibility:visible;
	opacity: 1;
}

.game-line-three {
	display: inline-block;
	width: 95%;
	height: 30px;
	background-color: rgb(0,0,0);
	visibility: hidden;
	opacity: 0;
}
.game-line-three.start{
	display: inline-block;
	width: 4%;
	height: 30px;
	background-color: rgb(8, 218, 26);
}
/* Поява третьої лінії */
.game-line-two.start:hover ~ .game-line-three.start,.game-line-three:hover{
	visibility: visible;
	opacity: 1;
}

.game-line-four-one {
	display: inline-block;
	width: 45%;
	height: 20px;
	background-color: rgb(0,0,0);
	vertical-align: top;
	visibility: hidden;
	opacity: 0;
}
.game-line-four.start{
	display: inline-block;
	width: 10%;
	height: 20px;
	background-color: rgb(8, 218, 26);
	border-radius: 10px 0 0 0;
	visibility: hidden;
	opacity: 0;
}
.game-line-four.two {
	display: inline-block;
	width: 54%;
	height: 20px;
	background-color: rgb(8, 218, 26);
	border-radius: 10px 0 10px 0;
	visibility: hidden;
	opacity: 0;
}
/* Поява четвертої лінії */
.game-line-three.start:hover ~.game-line-four,.game-line-four:hover,.game-line-four:hover > .game-line-four.start{
	visibility: visible;
	opacity: 1;
}

.game-line-five {
	display: inline-block;
	width: 10px;
	height: 170px;
	background-color:  rgb(8, 218, 26);
	visibility: hidden;
	opacity: 0;
}
.game-line-five.start{
	display: inline-block;
	width: 10px;
	height: 20px;
	background-color:  rgb(8, 218, 26);
	visibility: hidden;
	opacity: 0;
}
.game-line-five-one {
	display: inline-block;
	width: 10px;
	height: 150px;
	background-color: rgb(0,0,0);
	visibility: hidden;
	opacity: 0;
}

/* Поява п'ятої лінії */
.game-line-four.start:hover ~ .game-line-five,.game-line-five:hover,.game-line-five:hover .game-line-five.start{
	visibility: visible;
	opacity: 1;
}
.finish{
	color: rgb(8, 218, 26);
	width: 200px;
	font-size: 26px;
	text-shadow: 0px 1px 1px black;
	margin-left:-20px;
	background-color: blue;
	padding: 3px 6px;
	border-radius: 7px;
	visibility: hidden;
	opacity: 0;
	margin-bottom: 5px;
}
.finish:hover{
	text-decoration: underline;
	
}
/* Поява кнопки */
.game-line-five.start:hover ~ .finish,.finish:hover{
	visibility: visible;
	opacity: 1;

}

.title-win{
	text-align: center;
	font-size: 30px;
	color:rgb(8, 218, 26);
	margin-bottom: 25px;
	margin-left: -5%;
	display: none;
}
.title-win:target{
	display: block;
}
.title-win:target ~ .game-title{
	display: none;
}
.title-win:target ~ .game-line-two,.title-win:target ~ .game-line-three.start,.title-win:target ~ .game-line-four.two,.title-win:target ~ .game-line-four.two .game-line-five,.title-win:target ~ .game-line-four.two .finish{
	visibility:visible;
	opacity: 1;
}

.title-win:target ~ .game-line-four.two .game-line-five .reset{
	display: block;
}

.reset{
	color: rgb(8, 218, 26);
	width: 130px;
	font-size: 26px;
	text-shadow: 0px 1px 1px #000;
	margin-left:-20px;
	background-color: rgb(255, 0, 0);
	padding: 3px 6px;
	border-radius: 7px;
	display: none;
}
.reset:hover{
	text-decoration: underline;
}

/* Блок домашніх макетів */
.homework{

}
.homework > *:not(:last-child){
	margin-bottom: 50px;
}

/* Макет 1 */
.maket-one {
	box-shadow: 10px 6px 10px black;
	background-color: white;
	max-width: 732px;
	margin: 0 auto;
	padding: 20px;
}
.maket-one >*:last-child{
	margin-bottom: 0;
}
.maket-one-title {
	color: #37393F;
font-family: "Poppins";
font-size: 30px;
font-weight: 600;
line-height: 127%;
margin-bottom: 3px;
}
.maket-one-text {
	margin-bottom: 42px;
	line-height: 1.46187;
}
.maket-one-subtitle{
color: #6B77E5;
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 1.27; 
margin-bottom: 12px;
}
.maket-one-subtitle + .maket-one-text{
	margin-bottom: 40px;
}
.benefits {
	font-size: 0;
	margin-bottom: 50px;
}
.benefits-image {
	display: inline-block;
	vertical-align: top;
	
}
.benefits-content {
	display: inline-block;
	max-width: 332px;
	margin-left: 29px;
}
.benefits-title {
	color: #37393F;
font-family: "Poppins";
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: 1.27;
margin-bottom: 15px;
}
.benefits-subtitle {
	color: #40DDB6;
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 1.27;
margin-bottom: 21px;
}
.benefits-list {
font-size: 18px;
line-height: normal;
}
.benefits-list li::before{
	content: "";
	background: url(../img/benefits-icon-list.svg) 0 0 no-repeat;
	width: 27px;
	height: 28px;
	display: inline-block;
	margin-right: 2.5px;
	margin-bottom: -8px;
}
.benefits-list li:not(:last-child){
	margin-bottom: 30px;
}
.benefits + .maket-one-title{
	margin-bottom: 4px;
}
/* Макет 2 */
.maket-two {
	background-color: white;
	max-width: 713px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 10px 6px 10px black;
}
.maket-two >*:last-child{
	margin-bottom: 0;
}
.maket-laybel::before{
	content: "";
	width: 12px;
	height: 12px;
	display: inline-block;
	background: #40DDB6;
	margin-top: 5px;
	margin-right: 6px;
}
.maket-laybel {
	color: #37393F;
font-weight: 500;
line-height: normal;
margin-bottom: 16px;
}
.two-title {
	color: #37393F;
font-family: "Poppins";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 1.21;
max-width: 413px;
margin-bottom: 20px;
}
.two-text {
	line-height: 1.46187;
	margin-bottom: 20px;
}
.two-text p:not(:last-child){
	margin-bottom: 15px;
}
.two-list {
	color: #37393F;
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 43px;
}
.two-list li::before{
	content: "";
	background: url(../img/benefits-icon-list.svg);
	width: 27px;
	height: 28px;
	display: inline-block;
	margin-right: 8px;
	margin-bottom: -8px;
}
.two-list li:not(:last-child){
	margin-bottom: 23px;
}
.two-advantages {
	margin-bottom: 37px;
}
.two-advantages >*:not(:first-child){
	margin-left: 21px;
}

.advantages-one { 
	max-width: 295px;
	width: 50%;
	display: inline-block;
	padding: 31px 32px 32px;
	border: 1px solid #E3E3E3;
}
.advantages-one::before{
	content: "";
	display: inline-block;
	width: 39px;
	height: 41px;
	background: url(../img/Icon-adventages-one.svg);
	margin-right: 19px;
}
.advantages-title {
	color: #37393F;
font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: inline-block;
}
.advantages-text {
line-height: 1.35187;
display: inline-block;
padding-left: 64px;
font-size: 16px;
}
.advantages-two {
	max-width: 305px;
	border: 1px solid #E3E3E3;
	width: 49%;
	display: inline-block;
	padding: 31px 37px 32px;
}
.advantages-two::before{
	content: "";
	display: inline-block;
	width: 39px;
	height: 41px;
	background: url(../img/Icon-adventages-two.svg);
	margin-right: 19px;
}
.two-link {
	color: #FFF;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
	margin-bottom: 20px;
}
.two-link a {
	padding: 27px 21px 22px;
	background: #6B77E5;
}