/* Шрифти */
@import url("fonts.css");
/* Обнулення */
@import url("reset.css");
/* Стилі за замовчуванням */
body{
	color: #7D7D7D;
	font-size: 18px;
	font-family: "Inter",sans-serif;
}
.wrapper{
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
.section-title {
	margin: 0 auto 10px;
	font-size: 26px;
	border-radius: 30px;
	padding: 5px 10px;
	text-align: center;
	max-width: 300px;
	border: 3px solid rgb(89, 0, 255);
	color: #000;
}
[class*="text"]{
	line-height: 1.2;
}

/* [class*="-container"]:not(:last-child){
	margin-bottom: 20px;
} */
[class*="_title"]{

}
/* Шапка */
.header {
	padding: 25px 15px;
	background-color: #b3b4d3;
	margin-bottom: 15px;
	
}
.header__list {
	display: flex;
	justify-content: center;
	gap: 40px;

}
.list-header {
	text-align: center;
}

.list-header__link {
	color: #000;
	font-size: 20px;
}
.list-header__link:hover{
	color: #0a2f94;
}
/* Відпрацювання */
/* Основні стилі для блоків */
.main {
}
.properties:not(:last-child){
	margin-bottom: 20px;
}
.properties__title{
	font-size: 30px;
	margin-bottom: 20px;
}
.properties__body{
	display: flex;
	flex-wrap: wrap;
}
.properties{
	display: flex;
	flex-direction: column;
}
.flex-body__item {
	padding: 20px;
	background-color: #77608d;
}
.properties__title{
	text-align: center;
}
.flex {
	padding: 20px;
	border: 7px solid green;
}
.flex__name {
	text-align: center;
	margin-bottom: 10px;
	font-size: 25px;
}
.flex__body{
	background-color: #794f45c9;
	padding: 15px;
	color: white;	
	
}
/* Блок властивості Display */
.properties--display .properties__column{
	flex: 1 0 50%;
}
.properties--display .flex-container {
	min-height: 210px;
}
.flex__body--default{
	display: flex;
	gap: 10px;
}
.flex__body--flex-inline{
	display: inline-flex;
	gap: 10px;
}

/* Блок властивості flex-wrap */
.properties--nowrap .properties__column{
	flex: 1 0 33%;
}
.properties--nowrap .flex-container {
	min-height: 270px;
}
.flex__body--nowrap{
	display: flex;
	gap: 10px;
}
.flex__body--wrap{
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
.flex__body--wrap-reverse{
	display: flex;
	gap: 10px;
	flex-wrap: wrap-reverse;
}

/* Блок властивості justify-content */
.properties--justify-content .properties__column{
	flex: 1 0 33.3%;
}
.flex__body--start{
	display: flex;
	gap: 10px;
	justify-content: start;
}
.flex__body--center{
	display: flex;
	gap: 10px;
	justify-content: center;
}
.flex__body--end{
	display: flex;
	gap: 10px;
	justify-content: end;
}
.flex__body--space-between{
	display: flex;
	gap: 10px;
	justify-content: space-between;
}
.flex__body--space-around{
	display: flex;
	gap: 10px;
	justify-content: space-around;
}
.flex__body--space-evenly{
	display: flex;
	gap: 10px;
	justify-content: space-evenly;
}

/* Блок align-items */
.properties--align-items .properties__column{
	flex: 1 0 33.3%;
}
.properties--align-items .flex__body{
	min-height: 200px;
}
.flex__body--strach{
	display: flex;
	gap: 10px;
	align-items: stretch;
}
.properties--align-items .flex__body--start{
	justify-content: start;
	align-items: start;
}
.properties--align-items .flex__body--center{
	justify-content: start;
	align-items: center;
}
.properties--align-items .flex__body--end{
	justify-content: start;
	align-items: end;
}
.properties--align-items .flex__body--baseline{
	display: flex;
	gap: 10px;
	align-items: baseline;
}
/* Блок властивості flex-direction */
.properties--flex-direction .properties__column{
	flex: 1 0 50%;
}
.properties--flex-direction .flex-container {
	min-height: 340px;
}
.flex__body--row{
	display: flex;
	gap: 10px;
	flex-direction: row;
}
.flex__body--row-reverse{
	display: flex;
	gap: 10px;
	flex-direction: row-reverse;
}
.flex__body--column{
	display: flex;
	gap: 10px;
	flex-direction: column;
}
.flex__body--column-reverse{
	display: flex;
	gap: 10px;
	flex-direction: column-reverse;
}
/* Блок властивості GAP */
.properties--gap .properties__column{
	flex: 0 1 33.333%;
}
.properties--gap .flex-container {
	min-height: 290px;
}
.flex__body--gap{
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
}
.flex__body--column-gap{
	display: flex;
	column-gap: 30px;
	flex-wrap: wrap;
}
.flex__body--row-gap{
	display: flex;
	row-gap: 30px;
	flex-wrap: wrap;
}
/* Блок властивості align-self */
.properties--align-self .properties__column{
	flex: 0 1 33.333%;
}
.properties--align-self .flex-container {
	min-height: 290px;
}
.properties--align-self .flex__body--start{
	align-self: flex-start;
}
.properties--align-self .flex__body--center{
	align-self: center;
}
.properties--align-self .flex__body--end{
	align-self: flex-end;
}
/* Блок властивості order */
.properties--order .properties__column{
	flex: 0 1 100%;
}
.flex__body--order{
	display: flex;
	justify-content: space-between;
}

.flex__body--order .flex-body__item:nth-child(1){
	order: 13;
}
.flex__body--order .flex-body__item:nth-child(2){
	order: 11;
}
.flex__body--order .flex-body__item:nth-child(3){
	order: 10;
}
.flex__body--order .flex-body__item:nth-child(4){
	order: 5;
}
.flex__body--order .flex-body__item:nth-child(5){
	order: 15;
}
.flex__body--order .flex-body__item:nth-child(6){
	order: 14;
}
.flex__body--order .flex-body__item:nth-child(7){
	order: 12;
}
.flex__body--order .flex-body__item:nth-child(8){
	order: 7;
}
.flex__body--order .flex-body__item:nth-child(9){
	order: 2;
}
.flex__body--order .flex-body__item:nth-child(10){
	order: 3;
}
.flex__body--order .flex-body__item:nth-child(11){
	order: 9;
}
.flex__body--order .flex-body__item:nth-child(12){
	order: 8;
}
.flex__body--order .flex-body__item:nth-child(13){
	order: 6;
}
.flex__body--order .flex-body__item:nth-child(14){
	order: 4;
}
.flex__body--order .flex-body__item:nth-child(15){
	order: 1;
}
/* Стилі блоку з категоріями */
.maket-one {
	max-width: 1270px;
	margin: 0 auto;
}
.maket-one__container{
	
	padding: 0px 15px;
	display: flex;
	margin: 0 -25px;
	flex-wrap: wrap;
}
[class*="__number"]{
	width: 100%;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: red;
}
[class*="__number"]:not(:last-child){
	margin-bottom: 15px;
}
.maket-one__column {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 25%;
	padding: 0px 25px;
	margin-bottom: 50px;
}
.maket-one__item {
}

.item-maket-one {
	display:flex;
	flex-direction: column;
	min-height: 100%;
}
.item-maket-one__image{
	overflow: hidden;
}
.item-maket-one__image img {
	max-width: 100%;
}
.item-maket-one__image:not(:last-child) {
	margin-bottom: 15px;
}
.item-maket-one__body {
	display: flex;
	flex-grow: 1;
}
.item-maket-one__content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.item-maket-one__title {
	color: #2A2F2F;
	font-family: "Causten",serif;
	font-size: 18px;
	font-weight: bold;
	flex-grow: 1;
}
.item-maket-one__title:not(:last-child) {
	margin-bottom: 5px;
}
.item-maket-one__link-title {
}
.item-maket-one__text {
	font-family: "Causten",serif;
	font-size: 14px;
	font-weight: normal;
}
.item-maket-one__link {
	align-self: flex-start;
	min-height: 18px;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 18px;
	background: url('../img/block-categories/Arrow1.svg') center no-repeat;
}
/* Макет 2 */
.maket-two {
	max-width: 1440px;
	margin: 0 auto;
}
.maret-two__container {
	display: flex;
	padding: 0 100px;
}
.maret-two__container{
	margin-bottom: 20px;
}
.maket-two__logo-img {
	width: 92px;
	height: 45px;
	align-self: center;
	
}
.maket-two__input-search {
	position: relative;
	margin-left: 163px;
	align-self: center;
}
.maket-two__input-search input{
	width: 184px;
	height: 46px;
	background-color: #F6F6F6;
	border-radius: 8px;
}
.maket-two__input-search::before{
	content: '';
	display: block;
	position: absolute;
	top: 13px;
	left: 48px;
	width: 20px;
	height: 20px;
	background: url('../img/block-cap/search-icon.svg') center no-repeat;
	margin-right: 12px;
}
.maket-two__input-search input::placeholder{
	font-family: "Causten",serif;
	color: #807D7E;
	font-size: 18px;
	padding-left: 80px;
}
.maket-two__language {
	margin-left: 210px;
}
.language {
	color: #333333;
	width: 206px;
	font-family: "Causten",serif;
	font-weight: 400;
	font-size: 18px;
	display: flex;
	gap: 19px;
	align-self: center;
}
.language__icon{
	width: 10px;
	height: 5px;
	background: url('../img/block-cap/language-icon.svg') center no-repeat;
	align-self: center;
}
.language__item {
	width: 170px;
}

.maket-two__login {
	background-color: #8A33FD;
	color: #fff;
	font-family: "Causten",serif;
	font-size: 18px;
	border-radius: 8px;
	margin-left: 60px;;
	font-weight: 500;
	padding: 12px 48px;
	letter-spacing: 0.3px;
	align-self: center;
}
.maket-two__sign-up {
	padding: 12px 48px;
	margin-left: 29px;
	background-color: #fff;
	color: #8A33FD;
	font-family: "Causten",serif;
	font-size: 18px;
	font-weight: 500;
	border: solid 1px #3C4242;
	border-radius: 8px;
	align-self: center;
	letter-spacing: -0.4px;
}
/* Макет 3 */
.maket-three {
	margin-bottom: 60px;

}
.maket-three__number {
}
.maket-three__title {
	font-family: "Core Sans C",sans-serif;
	font-size: 28px;
	font-weight: bold;
	color: #3C4242;
	margin-bottom: 50px;
	margin-left: 30px;
	max-width: 903px;
	margin: 0 auto 50px;
}
.wishlist {
	max-width: 903px;
	margin: 0 auto;

}
.wishlist__item {
	position: relative;
}
.wishlist__item:not(:last-child){
	margin-bottom: 60px;
}
.wishlist__item::before{
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	height: 1px;
	width: 894px;
	background-color: #EDEEF2;
	margin-top: 39px;
}
.item-wishlist {
	display: flex;
	justify-content: space-between;
}
.item-wishlist__close {
	background: url('../img/block-wishlist/close.svg') center no-repeat;
	width: 22px;
	height: 22px;
	align-self: center;
}
.item-wishlist__image {
	width: 110px;
	height: 110px;
	margin-left: 44px;
}
.item-wishlist__image img{
	max-width: 100%;
}
.item-wishlist__body {
	margin-left: 36px;
	font-family: "Causten",serif;
	font-size: 22px;
	font-weight: bold;
	color: #3C4242;
	align-self: center;
	width: 390px;
}
.body-item {
}
.body-item span{
	color: #807D7E;
	font-weight: normal;
}
.body-item__name {
}
.body-item__name:not(:last-child){
	margin-bottom: 12px;
}
.body-item__color {
}
.body-item__color:not(:last-child){
	margin-bottom: 12px;
}
.body-item__quantity {
}
.item-wishlist__price {
	/* margin-left: 161px; */
	align-self: center;
	font-weight: bold;
	width: 82px;
}
.item-wishlist__button {
	font-weight: 400;
	font-size: 18px;
	padding: 14px 28px;
	background-color: #8A33FD;
	align-self: center;
	border-radius: 8px;
	color: #fff;
	margin-left: 50px;
	
}