/* Шрифти */
@import url("fonts.css");
/* Обнулення */
@import url("reset.css");
/* Стилі за замовчуванням */
body{
	color: #7D7D7D;
	font-size: 18px;
	font-family: "Inter",sans-serif;
}
body > * {
	margin-bottom: 20px;
}

.section-title {
	margin: 0 auto 10px;
	font-size: 26px;
	border-radius: 30px;
	padding: 5px 10px;
	text-align: center;
	max-width: 300px;
	border: 3px solid rgb(89, 0, 255);
	color: #000;
}
[class*="-text"]{
	line-height: 1.2;
}
/* Стилі шапки */
.one-section-header {
	padding-top: 45px;
	margin-bottom: 55px;
}
.one-section-list {
	text-align: center;
}
.one-section-list-item {
	border-bottom: 3px dotted blue;
	font-size: 20px;
	display: inline-block;
	margin-left: 25px;
}
.two-section-header {
	padding: 20px;
	outline: 4px solid blue;
	font-size: 60px;
	text-align: center;
}
/* Стилі основного блоку */
.main > div {
	margin-bottom: 15px;
}
.main-block-name{
	text-align: center;
	font-size: 36px;
	margin: 0 auto 20px;
	border: 3px double red;
	max-width: 250px;
	padding: 3px;
}
/* Стилі статті */
.main-artical {
	padding: 15px;
	border: 3px solid green;
}
.main-artical > div{
	margin-bottom: 15px;
}
/* Стилі шапки статті */

.artical-header-title {
	text-align: center;
	margin-bottom: 15px;
	font-size: 40px;
	color: rgb(41, 29, 29);
}
.artical-header-text {
	margin-bottom: 15px;
}
.artical-header-meaning {
	padding: 10px;
	max-width: 250px;
	border: 1px solid skyblue;
}
.artical-header-meaning-title {
	text-align: center;
}
.artical-header-meaning-list {
	font-size: 14px;
}
.artical-header-meaning-list-item {
	text-decoration: underline;
	color: rgb(0, 102, 255);
	margin-bottom: 3px;
}
.artical-header-meaning-list-sublist {
	text-indent: 5px;
	margin-top: 3px;
}
/* Ocновні стилі в статті */
.section-subtitle {
	font-size: 22px;
	color: #000;
	font-weight: 500;
	padding-left: 5px;
	margin-bottom: 4px;
}
/* Cтилі блоку класифікації */
.section-classification-list {
	margin-bottom: 5px;
	padding-left: 15px;
}
.classification-list-item {
	line-height: 1.2;
}
.section-classification-text{
	padding-left: 15px;
}

/* Стилі блоку води України */
.section-water-ukraine-title {
	max-width: 350px;
}

/* Стилі блоку з властивостями */
.main-properties {
	border: 3px solid blue;
	padding: 10px;
}
.main-properties > div{
	border: 2px dashed red;
	padding: 5px;
	margin-bottom: 10px;
}

.properties-title{
	text-align: center;
	font-size: 24px;
	color: #000;
	margin-bottom: 10px;
}
/* Властивість border */
.properties-title ~ *{
	max-width: 400px;
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
	line-height: 1.2;
}
.border-solid {
	border: 4px solid blueviolet;
}
.border-dashed {
	border: 4px dashed blueviolet;
}
.border-dotted {
	border: 4px dotted blueviolet;
}
.border-double {
	border: 4px double blueviolet;
}

.border-one-around {
	border: 4px solid blueviolet;
}
.border-top {
	border-top: 4px solid blueviolet;
}
.border-right {
	border-right: 4px solid blueviolet;
}
.border-bottom {
	border-bottom: 4px solid blueviolet;
}
.border-left {
	border-left: 4px solid blueviolet;
}
/* Властивість outline */
.outline{
	outline: 3px solid blueviolet;
}
/* Властивість border-radius */
.border-radius{
	border: 4px solid blueviolet;
	border-radius: 50px;
}
/* Властивість box-shadow */
.box-shadow-outside.margin {
	margin-bottom: 20px;
	box-shadow: 5px 5px 1px #000;
}
.box-shadow-multy-outside.margin {
	box-shadow: 3px 3px 1px #000, -3px -3px 1px red;
	margin-bottom: 20px;
}
.box-shadow-internal {
	box-shadow: inset 5px 5px 5px #000;
}
.box-shadow-multy-internal.margin{
	margin-bottom: 10px;
	box-shadow: inset 3px 3px 5px #000, inset -3px -3px 5px red;
}
.box-shadow-multy-internal-outside{
	box-shadow: -3px -3px 5px #000, inset -3px -3px 5px red;
}
/* Властивість opacity */
.properties-opacity > div{
	max-width: 600px;
}
.opacity1 {
	border: 2px solid silver;
}
.opacity09 {
	border: 2px solid silver;
	opacity: 0.9;
}
.opacity08 {
	border: 2px solid silver;
	opacity: 0.8;
}
.opacity07 {
	border: 2px solid silver;
	opacity: 0.7;
}
.opacity06 {
	border: 2px solid silver;
	opacity: 0.6;
}
.opacity05 {
	border: 2px solid silver;
	opacity: 0.5;
}
.opacity04 {
	border: 2px solid silver;
	opacity: 0.4;
}
.opacity03 {
	border: 2px solid silver;
	opacity: 0.3;
}
.opacity02 {
	border: 2px solid silver;
	opacity: 0.2;
}
.opacity01 {
	border: 2px solid silver;
	opacity: 0.1;
}
.opacity0 {
	border: 2px solid silver;
	opacity: 0;
}
/* Властивість visibility */
.properties-visibility > div{
	max-width: 700px;
}
.visibility-visible {
	border: 2px solid green;
}
.visibility-hidden {
	border: 2px solid green;
	visibility: hidden;
}
/* Центрування */
.properties-centering > div{
	max-width: 1000px;
	margin: 0 auto 5px;
	border: 2px solid blue;
}
.centering-list{
	border: 2px solid blue;
	text-align: center;
	margin-bottom: 5px;
}
/* Обмежуючий контейнер */
.container{
	border: 2px solid #000;
}

/* Блок з домашнім завдання */
.main-homework {
	border: 3px solid red;
	padding: 5px;
}
.homework-number {
	text-align: center;
	font-size: 32px;
	color: #000;
	margin-bottom: 25px
}
[class*="-container"]{
	margin: 0 auto 100px;
}
/* Макет 1 */
.homework-maket-one-container {
	max-width: 1218px;
}
.maket-one-title-container{
	text-align: center;
	max-width: 296px;
	margin: 0 auto 70px;
	font-size: 0;
}
.maket-one-decoration-block {
	width: 12px;
	height: 12px;
	background: #40DDB6;
	display: inline-block;
}
.maket-one-subtitle {
	color: #37393F;
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
	margin-left: 6px;
	line-height: 1.22;
}
.maket-one-title {
color: #37393F;
text-align: center;
font-size: 60px;
font-weight: 700;
line-height: 1.21;
font-family: "Poppins",sans-serif;
}
.maket-one-section-one {
	margin-bottom: 100px;
}
.maket-one-section-one .maket-one-section-text{
	margin-bottom: 32px;
}
.maket-one-section-title {
color: #37393F;
font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 1.21;
margin-bottom: 11px;
}
.maket-one-section-text {
line-height: 1.46;
}
.maket-one-section-subtitle {
	color: #37393F;
font-family: Poppins;
font-size: 30px;
font-weight: 700;
margin-bottom: 8px;
}
.maket-one-decoration-text {
	color: #40DDB6;
}
.maket-one-section-subtitle .maket-one-decoration-text{
	font-weight: 400;
}
.maket-one-section-two {
	margin-bottom: 100px;
}
.maket-one-section-two .maket-one-section-text{
	margin-bottom: 24px;
}
.maket-one-section-three {
	margin-bottom: 100px;
}
/* Макет 2 */
.homework-maket-two-container {
	max-width: 830px;
}
.maket-two-title {
	color: #37393F;
font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 1.27;
margin-bottom: 58px;
}
.maket-two-text {
	line-height: 1.46187;
	margin-bottom: 35px;
}
.maket-two-text p{
	margin-bottom: 35px;
}
.maket-two-list {
	font-weight: 500;
line-height: 1.46187;
margin-bottom: 35px;
margin-left: 16px;
}
.maket-two-list-item {
	margin-bottom: 35px;
}
/* Макет 3 */
.homework-maket-three-container {
	max-width: 1240px;
	
}
.maket-three-title-container {
	font-size: 0;
	margin: 0 0 30px 0;
}
.maket-three-title-decoration {
	display: inline-block;
	width: 6px;
	height: 28px;
	border-radius: 10px;
	background: #8A33FD;
	vertical-align: top;
}
.maket-three-title {
	color: #3C4242;
font-family: "Core Sans C",sans-serif;
font-size: 28px;
font-weight: 600;
line-height: 1.11;
letter-spacing: 0.56px;
display: inline-block;
margin-left: 15px;
vertical-align: top;
}
.maket-three-subtitle {
	color: #807D7E;
	font-family: "Core Sans C";
	font-size: 20px;
	font-weight: 600;
	line-height: 1.67;
	letter-spacing: 0.4px;
	margin-left: 21px;
	margin-bottom: 25px;
}
.maket-three-text {
color: #807D7E;
font-family: "Causten";
font-size: 20px;
font-weight: 400;
line-height: 1.67;
letter-spacing: 0.4px;
	margin-left: 21px;
	margin-bottom: 25px;
}
.maket-three-text p {
	
	margin-bottom: 20px;
}
.maket-three-text span{
	font-weight: 700;
}
/* Макет 4 */
.homework-maket-four-container {
	text-align: center;
	max-width: 1600px;
}
.maket-four-content {
	display: inline-block;
	max-width: 503px;
	font-size: 0;
	vertical-align: middle;
	margin-right: 75px;
}
.maket-four-subtitle {
	color: #D58417;
	font-family: 'Cormorant Infant';
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	text-align: left;
	margin-bottom: 27px;
}
.maket-four-title {
	color: #000;
	font-family: 'Cormorant Infant';
	font-size: 64px;
	font-style: normal;
	font-weight: 700;
	text-align-last: left;
	margin-bottom: 31px;
}
.maket-four-text {
	color: #606060;
font-family: 'Cormorant Infant';
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 1.40;
text-align: left;
}
.maket-four-img {
	display: inline-block;
}
.img-contaiter {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid black;
	border-radius:235px;
	margin-left: 20px;
}
.img-contaiter img{
	border-radius: 235px;
	
}
.one-img img {
	margin: 14px 10px -14px -10px;
}
.two-img img {
	margin: 19px 11px -13px -10px;
}
/* Стилі футера */
.footer {
	padding-bottom: 15px;
}
.footer-text {
	margin-bottom: 10px;
	text-align: center;
	color: #000;
	font-size: 28px;
}
.footer-link{
	text-align: center;
}
.footer-link a{
	text-decoration: underline;
}

