/* Шрифти */
@import url("fonts.css");
/* Обнулення */
@import url("reset.css");
/* Стилі за замовчуванням */
body{
	color: #7D7D7D;
	font-size: 18px;
	font-family: "Inter",sans-serif;
}
.wrapper{
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
.section-title {
	margin: 0 auto 10px;
	font-size: 26px;
	border-radius: 30px;
	padding: 5px 10px;
	text-align: center;
	max-width: 300px;
	border: 3px solid rgb(89, 0, 255);
	color: #000;
}
[class*="text"]{
	line-height: 1.2;
}

/* [class*="-container"]:not(:last-child){
	margin-bottom: 20px;
} */
[class*="_title"]{

}
.example{
	color: #000;
	padding: 20px;
	background-color: #cecccc;
}
.example__container{
	display: flex;
	gap: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.example__column{
	flex: 1 1 19%;
}

.example__title {
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.form-text{
}
.form__line {
	border: 1px solid #000;
	padding: 10px 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* height: 8em; */
	

}
.form__line p {
	color: rgb(180, 67, 67);
	font-size: 20px;
}

.form__line *:not(:last-child){
	margin-bottom: 5px;
}

.form__line:not(:last-child){
	margin-bottom: 15px;
}
.form__title{
	text-align: center;
	font-size: 22px;
	/* height: 2em; */
}
.form__title:not(:last-child){
	margin-bottom: 10px;
}
.form__label {
}
.form__input {
	height: 3em;
}