/* Шрифти */
@import url("fonts.css");
/* Обнулення */
@import url("reset.css");
/* Стилі за замовчуванням */
body{
	color: #7D7D7D;
	font-size: 18px;
	font-family: "Inter",sans-serif;
}
.wrapper{
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
.section-title {
	margin: 0 auto 10px;
	font-size: 26px;
	border-radius: 30px;
	padding: 5px 10px;
	text-align: center;
	max-width: 300px;
	border: 3px solid rgb(89, 0, 255);
	color: #000;
}
[class*="text"]{
	line-height: 1.2;
}

/* [class*="-container"]:not(:last-child){
	margin-bottom: 20px;
} */
[class*="_title"]{

}
/* Відпрацювання теорії */
.example{
	color: #000;
	padding: 20px;
	background-color: #cecccc;
}
.example:not(:last-child){
	margin-bottom: 50px;
}
.example__container{
	display: flex;
	gap: 20px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.example__column{
	flex: 1 1 19%;
}

.example__title {
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
}
.form-text{
}
.form__line {
	border: 1px solid #000;
	padding: 10px 5px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/* height: 8em; */
	
}
.form__line p {
	color: rgb(180, 67, 67);
	font-size: 20px;
}

.form__line *:not(:last-child){
	margin-bottom: 5px;
}

.form__line:not(:last-child){
	margin-bottom: 15px;
}
.form__title{
	text-align: center;
	font-size: 22px;
	/* height: 2em; */
}
.form__title:not(:last-child){
	margin-bottom: 10px;
}
.form__label {
}
.form__input {
	height: 3em;
}
[class*="--center"]{
	margin: 0 auto;
}
/* макет 1 */
.form-one {
	max-width: 895px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.form-one:not(:last-child){
	margin-bottom: 100px;
}
.form-one__title {
	font-family: "Core Sans C";
	font-size: 28px;
	font-weight: bold;
	color: #3C4242;
}
.form-one__title:not(:last-child){
	margin-bottom: 20px;
}
.form-one__subtitle:not(:last-child) {
	margin-bottom: 50px;
}
.form-one__subtitle{
	font-family: "Core Sans C";
	font-size: 22px;
	font-weight: bold;
	color: #3C4242;
}
.form-one__content {
	display: flex;
	flex-wrap: wrap;
	column-gap: 28px;
}
.form-one__line {
	display: flex;
	flex-direction: column;
	flex: 1 1 430px;
	font-family: 'Causten',serif;

}
.form-one__line:not(:last-child){
	margin-bottom: 30px;
}
.form-one__label,.textarea__label {
	font-family: "Causten";
	font-weight: bold;
	color: #3C4242;
}
.form-one__label:not(:last-child),.textarea__label:not(:last-child) {
	margin-bottom: 10px;
}
.form-one__input {
	height: 55px;
	background-color:#F6F6F6;
	padding: 17px 0px 17px 22px;
	border-radius: 8px;
}
input,textarea::placeholder{
	color: #807D7E;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Causten', serif;
}
.form-one__select {
	appearance: none;        
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url("../img/icon-mark-select.png") no-repeat right 20px center;

}
.select-line {
	height: 55px;
	background-color:#F6F6F6;
	padding: 17px 0px 17px 22px;
	border-radius: 8px;
	font-family: 'Causten',serif;
	font-size: 16px;
	color: #807D7E;
}
.textarea {
	flex: 1 1 100%;
}
.textarea__textarea {
	height: 181px;
	background-color:#F6F6F6;
	padding: 17px 0px 17px 22px;
	border-radius: 8px;
}

.checbox {
	flex: 1 1 100%;
	flex-direction: row;
	position: relative;
}
.checbox:not(:last-child){
	margin-bottom: 12px;
}
.checbox--margin:not(:last-child){
	margin-bottom: 50px;
}
.checbox__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	opacity: 0;
	
}

.checbox__input:focus-visible + .checbox__label {
	outline: 2px solid black;
	border-radius: 8px;
}

.checbox__input:checked + .checbox__label::before{
	flex: 0 0 10px;
	height: 16px;
	border-right: 2px solid #8A33FD;
	border-bottom: 2px solid #8A33FD;
	border-left: 0px;
	border-top: 0px;
	transform: rotate(35deg);
}

.checbox__label {
	display: flex;
	gap: 11px;
	font-family: 'Causten',serif;
	color: #3C4242;
	padding: 5px;
}

.checbox__label::before {
	width: 20px;
	height: 20px;
	flex: 0 0 20px;
	background-color: #ffffff;
	border: 2px solid #BEBCBD;
	border-radius: 2px;
	content: "";
	transition: all 0.3s;
}


.form-one__button {
	flex: 0 0 295px;
	display: flex;
	column-gap: 30px;
	height: 48px;
	
}
.button {
}

.button__save {
	font-family: "Causten",serif;
	font-size: 20px;
	width: 125px;
	color: #FFFFFF;
	background-color: #8A33FD;
	border-radius: 8px;
}
.button__cancel {
	font-family: "Causten",serif;
	font-size: 20px;
	width: 141px;
	border-radius: 8px;
	font-weight: bold;
	background-color: #F6F6F6;
	color: #807D7E;
}

/* Макет 2 */

.maket-two {
	
}
.maket-two__title {
	display: flex;
	align-items: center;
	color: #3C4242;
	font-family: "Core Sans C",serif;
	font-weight: bold;
	font-size: 28px;
	
}
.maket-two__title:not(:last-child) {
	margin-bottom: 20px;
}
.maket-two__title::before {
	content: "";
	width: 6px;
	height: 28px;
	background-color: #8A33FD;
	border-radius: 10px;
	margin-right: 15px;
}
.maket-two__form {
	max-width: 802px;
	margin: 0 auto;
}
.form-billing {
}
.form-billing__title {
	font-family: "Core Sans C",serif;
	font-weight: bold;
	font-size: 22px;
	color: #3C4242;
}
.form-billing__title:not(:last-child){
	margin-bottom: 50px;
}
.form-billing__content {
	display: flex;
	flex-wrap: wrap;
	row-gap: 25px;
	margin: 0px -19px;
}

.form-billing__content:not(:last-child) {
	margin-bottom: 40px;
}

.form-billing__line {
	min-width: 290px;
	display: flex;
	flex-direction: column;
	flex: 1 1 50%;
	padding: 0 19px;
}
.form-billing__line--mini-width{
	min-width: 246px;
	padding: 0 16px;
	flex: 1 1 33.3%;
}

.form-billing__input {
	background-color: #F6F6F6;
	padding: 16px 0px 16px 20px;
	border-radius: 8px;
	
}

.form-billing__line--grow{
	flex-grow: 0;
}

.form-billing__label {
	font-size: 16px;
	color: #3C4242;
	font-weight: 600;
	font-family: "Causten",serif;
	
}
.maket-two input,textarea::placeholder {
	font-size: 14px;
}
.form-billing__label:not(:last-child){
	margin-bottom: 10px;
}
.form-billing__select{
	color: #807D7E;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Causten', serif;
	
	padding: 16px 0px 16px 20px;
	border-radius: 8px;
	appearance: none;        
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url("../img/icon-mark-select.svg") no-repeat right 23px center;
	background-color: #F6F6F6;

}
.form-billing__button {
	padding: 16px 20px;
	background-color: #8A33FD;
	color: #ffffff;
	border-radius: 8px;
	font-family: "Causten",serif;
	font-size: 18px;
	font-weight: 500;
}
.form-billing__button:not(:last-child){
	margin-bottom: 20px;
}

.form-billing__line--checkbox{

	flex-direction: row;
	position: relative;
	padding: 0;

}
.form-billing__input--checkbox{
	position: absolute;
	width: 0;
	height: 0;
	left: 0;
	top: 0;
	opacity: 0;
}
.form-billing__label--checkbox{
	display: flex;
	gap: 10px;
	padding: 5px;
	color: #3C4242;
	font-family: "Causten",serif;
	font-size: 18px;
	font-weight: 500;
}
.form-billing__label--checkbox::before {
	width: 20px;
	height: 20px;
	flex: 0 0 20px;
	background-color: #ffffff;
	border: 2px solid #BEBCBD;
	border-radius: 2px;
	content: "";
	transition: all 0.3s;
}

.form-billing__input--checkbox:focus-visible + .form-billing__label--checkbox{
	outline: 2px solid black;
	border-radius: 8px;
}

.form-billing__input--checkbox:checked + .form-billing__label--checkbox::before{
	flex: 0 0 10px;
	height: 16px;
	border-right: 2px solid #8A33FD;
	border-bottom: 2px solid #8A33FD;
	border-left: 0px;
	border-top: 0px;
	transform: rotate(35deg);
}