/* Шрифти */
@import url("fonts.css");
/* Обнулення */
@import url("reset.css");
/* Стилі за замовчуванням */
body{
	color: #7D7D7D;
	font-size: 18px;
	font-family: "Inter",sans-serif;
}
/* Стилі шапки */
.header{
	margin-bottom: 30px;
}
.one-section-header {
	padding-top: 45px;
	margin-bottom: 55px;
}
.one-section-list {
	text-align: center;
}
.one-section-list-item {
	border-bottom: 3px dotted blue;
	font-size: 20px;
	display: inline-block;
	margin-left: 25px;
}
.two-section-header {
	padding: 20px;
	outline: 4px solid blue;
	font-size: 60px;
	text-align: center;
}
[class*="-container"]{
	margin: 0 auto 100px;
}
/* Стилі основного блоку */
.main-block-name{
	text-align: center;
	font-size: 36px;
	margin: 0 auto 20px;
	border: 3px double red;
	max-width: 250px;
	padding: 3px;
}
/* Cтилі навчальної верстки */
/* Загальні стилі блоку */
.main {
	margin-bottom: 30px;
}
.layout {
	font-family: Inika;
font-size: 16px;
font-weight: 400;
	color: #fff;
	margin: 0 auto 100px;
	max-width: 1536px;
	background: url(../img/BG.png) 0 0 / cover no-repeat;
}
.layout-container {
	margin: 0 auto;
	max-width: 1350px;
	padding: 32px 81px 121px;
	
}
/* Стилі шапки блоку навчальної верстки */
.layout-header {
	margin-bottom: 9px;
}
.header-logo {
	vertical-align: middle;
	display: inline-block;
	margin-bottom: 21px;
}
.header-logo img{
	border-radius: 19px;
}
.header-menu {
	display: inline-block;
	margin-left: 49px;
	
}
.header-menu-list {


}
.header-menu-list-item {
	margin-right: 52px;
	display: inline-block;
}

.header-decoration-line {
	background: rgba(225, 225, 225, 0.30);
	height: 4px;
	margin-bottom: 11px;
}
.header-label {
	color: rgba(255, 255, 255, 0.60);
font-family: Inika;
font-size: 16px;
font-weight: 400;
text-align: right;
}
.label-decor {
	color: #FFF;
	font-weight: 700;
}
/* Стилі основного блоку навчальної верстки */
.layout-main {
	
}
/* Стилі першої секції */
.one-section {
	margin-bottom: 51px;
	font-size: 0;
}
.one-section-logo {
	display: inline-block;
	vertical-align: middle;
}
.one-section-title {
		color: rgba(255, 255, 255, 0.72);
	font-size: 25px;
	display: inline-block;
	vertical-align: middle;
}
.one-section-label {
	font-family: Inter;
font-size: 40px;
font-style: italic;
font-weight: 700;
background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

/* Стилі другої секції*/
.two-section {
	margin-bottom: 39px;
}
.two-section-button {
	max-width: 236px;
	border-radius: 8px;
	background: #4AA7F9;
	padding:  23px 14px 23px 15px;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 16px;
}
.two-section-text {
	font-size: 18px;
	margin-bottom: 52px;
}
.two-section-label{
	max-width: 158px;
	max-height: 78px;
	color: #FFF;
font-family: "Baloo Bhai 2";
font-size: 40px;
font-weight: 400;
line-height: 0.75;
}
.two-section-label-decor{
	font-size: 16px;
}
/* Стилі футера навчальної верстки  */
.layout-footer {
}
.layout-footer-list {
	max-width: 709px;
	background: rgba(0, 0, 0, 0.42);
	padding: 25px;
}
.layout-footer-list-item{
display: inline-block;
color: #FFF8F8;
font-size: 18px;
margin-left: 17px;
}
/* Блок властивостей */
/* Всластивість backgroung */
.properties {
	max-width: 1200px;
	margin: 0 auto 100px;
}
.contain{
	max-width: 250px;
	height: 100px;
	border: 1px solid silver;
	margin-bottom: 10px;
}
.properties-title {
	color: #000;
	text-align: center;
	margin-bottom: 20px;
	font-size: 42px;
	padding: 5px;
	border: 1px dashed red;
	max-width: 500px;
	border-radius: 25px;
	margin: 0 auto 40px;
}
.title-proterties {
	font-size: 30px;
	color: #000;
	text-align: center;
	margin-bottom: 25px;
}
.properties-name{
	max-width: 250px;
	color: #000;
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
}
.properties-container {
	display: inline-block;
	margin: 0px 35px 0px 0px;
}
.properties-bacground{
	margin-bottom: 40px;
}

.backgroud-color {
	background-color: green;
}
.backgroud-img {
	background-image: url(../img/training-bg.png);
}
.backgroud-linear-gradient {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.backgroud-radial-gradient {
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
/* Властивість background-repeat */
.properties-bacground-repeat {
}

.proterties-container {
}
.properties-name {
}
.backgroud-repeat-repeat {
	background-image: url(../img/icon/list=decor.svg);
}
.backgroud-repeat-no-repeat {
	background-image: url(../img/icon/list=decor.svg);
	background-repeat: no-repeat;
}
.backgroud-repeat-repeat-x {
	background-image: url(../img/icon/list=decor.svg);
	background-repeat: repeat-x;
}
.backgroud-repeat-repeat-y {
	background-image: url(../img/icon/list=decor.svg);
	background-repeat: repeat-y;
}
/* Властивість background-position */

.backgroud-position-0-0 {
	background-image: url(../img/icon/list=decor.svg);
	background-repeat: no-repeat;
}
.backgroud-position-center {
	background-image: url(../img/icon/list=decor.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.backgroud-position-right-top {
	background-image: url(../img/icon/list=decor.svg);
	background-repeat: no-repeat;
	background-position: right top;
}
.backgroud-position-right-bottom {
	background-image: url(../img/icon/list=decor.svg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.backgroud-position-left-bottom {
	background-image: url(../img/icon/list=decor.svg);
	background-repeat: no-repeat;
	background-position: left bottom ;
}
.backgroud-position-value-px {
	background-image: url(../img/icon/list=decor.svg);
	background-repeat: no-repeat;
	background-position: 70px 25px;
}
/* Властивість backgroun-attacment */

.backgroud-attachment-fixed {
	background-image: url(../img/icon/list=decor.svg);
	background-repeat: no-repeat;
	background-position: 450px 300px;
	background-attachment: fixed;
}

.backgroud-attachment-scroll {
	background-image: url(../img/icon/list=decor.svg);
	background-repeat: no-repeat;
	background-position: 70px 25px;
}
/* Властивість background-size */
.backgroud-size-auto-auto {
	background-image: url(../img/training-bg.png);
	background-repeat: no-repeat;
	background-position: center;
}
.backgroud-size-auto-50px {
	background-image: url(../img/training-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 50px;
}
.backgroud-size-50px {
	background-image: url(../img/training-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px;
}
.backgroud-size-conain {
	background-image: url(../img/training-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.backgroud-size-cover {
	background-image: url(../img/training-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
/* Універсальний запис background */
.backgroud-center-norepeat {
	background: url(../img/icon/list=decor.svg) center no-repeat;
}

.backgroud-center-contain-norepeat {
	background: url(../img/training-bg.png) center / contain no-repeat;
}
.backgroud-two-images {
	background: url(../img/training-bg.png) 0 0 / contain no-repeat,
	url(../img/icon/list=decor.svg) center no-repeat
}
.backgroud-two-gradient {
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) 0 0 / 50px 50px no-repeat, radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) left bottom / 50px 50px no-repeat
}
.backgroud-gradient-images {
	background:radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) left bottom / 50px 50px no-repeat,url(../img/training-bg.png) 0 0 / 50px 50px no-repeat
}




/* Блок домашнього завдання макетів*/
.main-homework {
	border: 3px solid red;
	padding: 5px;
}
.homework-number {
	text-align: center;
	font-size: 32px;
	color: #000;
	margin-bottom: 25px
}
/* Макет перший */
.maket-one-container {
	max-width: 673px;
}
.maket-one-laybel-container {
	margin: 0 0 16px 0;
}
.laybel-decor {
	width: 12px;
height: 12px;
background: #40DDB6;
display: inline-block;
}
.maket-laybel {
	display: inline-block;
	color: #37393F;
	font-weight: 500;
}
.maket-one-title {
	
max-width: 413px;
margin-bottom: 20px;
}
.maket-title{
	color: #37393F;
font-family: Poppins;
font-size: 40px;
font-weight: 700;
line-height: 1.21;

}
.maket-one-text {
	line-height: 1.4618;
	margin-bottom: 20px;
}
.maket-one-text p {
	margin-bottom: 15px;
}
.maket-one-list {
	margin-bottom: 43px;
}
.maket-one-list li {
	background: url(../img/icon/list=decor.svg) 0 3px no-repeat;
	color: #37393F;
font-family: Poppins;
font-size: 20px;
padding-left: 35px;
line-height: 1.5;
margin-bottom: 23px;
}
.maket-one-advantages-container {
	font-size: 0;
	margin: 0 0 37px 0;
}
.advantages-one {
	border: 1px solid #E3E3E3;
	padding: 32px 32px 32px 90px;
	max-width: 295px;
	display: inline-block;
	background: url(../img/icon/advantages-one.svg) 32px 31px no-repeat;
}
.advantages-two {
	border: 1px solid #E3E3E3;
	padding: 32px 37px 32px 94px;
	max-width: 297px;
	display: inline-block;
	background: url(../img/icon/advantages-two.svg) 37px 31px no-repeat;
}
.advantages-title {
	color: #37393F;
font-family: "Poppins";
font-size: 20px;
font-weight: 600;
line-height: normal;
margin-bottom: 3px;

}
.advantages-text {
	font-size: 16px;
line-height: 1.3518;
}
.maket-one-button {
	padding: 21px 27px;
	max-width: 184px;
	background: #6B77E5;
	color: #FFF;
text-align: center;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
/* Макет два */
.maket-two-container {
	margin: 0 auto;
}
.maket-two-laybel-container {
	margin: 0;
	text-align: center;
	margin-bottom: 14px;
}
.maket-two-title { 
	text-align: center;
	margin-bottom: 14px;
}
.maket-title {
}
.maket-two-text {
	text-align: center;
	margin: 0 auto;
	max-width: 852px;
	margin-bottom: 47px;
}
.maket-two-cards-container {
	max-width: 1254px;
	margin: 0 auto;
	font-size: 0;
}
.maket-two-card {
	max-width: 384px;
	display: inline-block;
	margin-right: 34px;
}
.card-image {
	width: 384px;
	height: 501px;
	margin-bottom: 24px;
}
.card-info {
	margin-bottom: 58px;
}
.card-title {
	color: #37393F;
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 1.27;
margin-bottom: 10px;
}
.card-data {
	padding-left: 23.35px;
	background: url(../img/icon/date-image.svg) 0 0 no-repeat;
	color: #7D7D7D;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.58;
}
.card-one {
	background: url(../img/maket-two-card-one.png) 0 0 no-repeat;
}
.card-two {
	background: url(../img/maket-two-card-two.png) 0 0 no-repeat;
}
.card-three {
	background: url(../img/maket-two-card-three.png) 0 0 no-repeat;
}
.card-four {
	background: url(../img/maket-two-card-four.png) 0 0 no-repeat;
}
.card-five {
	background: url(../img/maket-two-card-five.png) 0 0 no-repeat;
}
.card-six {
	background: url(../img/maket-two-card-six.png) 0 0 no-repeat;
}

/* Макет три */
.maket-three-container{
	max-width: 1240px;
}
.maket-three-title-container {
	margin: 0 0 30px 0;
}
.title-decor {
	display: inline-block;
	width: 6px;
height: 28px;
border-radius: 10px;
background: #8A33FD;
margin-right: 15px;
}
.maket-three-title {
	display: inline-block;
	color: #3C4242;
font-family: "Core Sans C";
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 1.1;
letter-spacing: 0.56px;
vertical-align: top;
}
.maket-three-content-container {
	margin: 0;
	padding-left: 21px;
}
.maket-three-subtitle {
	color: #807D7E;
font-family:" Core Sans C";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 1.675;
letter-spacing: 0.4px;
margin-bottom: 25px;
}

.maket-three-text {
	margin-bottom: 20px;
	color: #807D7E;
font-family: Causten;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 1.675;
letter-spacing: 0.4px;;
}
.margin{
	margin-bottom: 25px;
}
.maket-three-text p{
	margin-bottom: 20px;
}
.maker-three-link {
	color: #807D7E;
font-family: "Core Sans C";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 1.675;
letter-spacing: 0.4px;
}
.maket-three-decor{
	font-weight: 700;
}
/* Четвертий макет */
.maket-four-container {
	padding: 183px 74px 174px;
	max-width: 1240px;
	background: url(../img/bg-maket-four-two.png) 0 0 / 50% 100% no-repeat,
	url(../img/bg-maket-four.png) right top / 50% 100% no-repeat;
	margin: 0 auto;
}
.maket-four-content{
	max-width: 466px;
}
.maket-four-title {
	color: #FFF;
font-family: "Core Sans C";
font-size: 34px;
font-weight: 800;
line-height: 1.47;
letter-spacing: 0.208px;
margin-bottom: 30px;
}
.maket-four-text {
	color: #FFF;
font-family: "Causten";
font-size: 20px;
font-weight: 300;
line-height: normal;
letter-spacing: 1px;
margin-bottom: 50px;
}
.maket-four-button {
	max-width: 168px;
	border-radius: 8px;
background: #FFF;
padding: 12px 44px;
color: #3C4242;
text-align: center;
font-family: "Causten";
font-size: 18px;
font-weight: 600;
line-height: normal;
}
/* Стилі футера */
.footer {
	padding-bottom: 15px;
}
.footer-text {
	margin-bottom: 10px;
	text-align: center;
	color: #000;
	font-size: 28px;
}
.footer-link{
	text-align: center;
}
.footer-link a{
	text-decoration: underline;
}

