@import url("https://fonts.googleapis.com/css?family=Playfair:700&display=swap");

@font-face {
	font-family: "CormorantGaramond";
	src: url(../fonts/CormorantGaramond-LightItalic.woff2) format("woff2"),
	url(../fonts/CormorantGaramond-LightItalic.woff)format(.woff);
	font-display: swap;
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: "CormorantGaramond";
	src: url(../fonts/CormorantGaramond-Regular.woff2) format("woff2"),
	url(../fonts/CormorantGaramond-Regular.woff)format(.woff);
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "CormorantGaramond";
	src: url(../fonts/CormorantGaramond-Medium.woff2) format("woff2"),
	url(../fonts/CormorantGaramond-Medium.woff)format(.woff);
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}
