/* Шрифти */
@import url("fonts.css");
/* Обнулення */
@import url("reset.css");
/* Стилі за замовчуванням */
body{
	font-family: "CormorantGaramond",serif;
	font-weight: 500;
	font-size: 18px;
}
/* Стататя про пиво */
.title{
	font-size: 24px;
	font-family: "Playfair",serif;
	font-style: normal;
}

.header-title {
	letter-spacing: 4px;
	text-align: center;
	font-size: 32px;
	font-family: "Playfair",serif;
	font-style: oblique;
	text-shadow: 0px 0px 25px #000,0px 0px 25px yellow;
}
.header-text-transform{
	text-transform: uppercase;
}

.header-text {
	word-spacing: 15px;
	line-height: 1.5;
}
.header-logo {
}
.header-content {
}
.content-title {
	font-size: 20px;
	font-family: "Playfair",serif;
}
.content-list {
}
.content-list-item {
	font-family:  "CormorantGaramond",serif;
	font-weight: 300;
	font-style: italic;
	color: blue;
	text-decoration: underline;
}
.etymology-container {
}
.etymology-title {
}
.title {
}
.etymology-text {
	text-indent: 30px;
	white-space: nowrap;
}
.text {
}
.history-container {
}
.histoty-title {
}
.histori-text{
}
.histori-img {
}
.constituents-container {
}
.constituents-title {
}
.constituents-text {
}
.production-container {
}
.production-title {
}
.production-text {
}
.production-img {
}
.footer-title {
}
.footer-list {
}
/* Перший блок з домашніх макетів */
.howe-work {
}
.home-work-title {
	font-size: 48px;
	text-align: center;
}
.home-work-subtitle{
	font-size: 32px;
	text-align: center;
	color: red;
	font-weight: 700;
}
.home-work-page-one-container {
}
.home-work-page-one-title {
color: #37393F;
font-family: Poppins;
font-size: 30px;
font-weight: 600;
line-height: 1.27;
}
.home-work-page-one-text {
color: #7D7D7D;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 1.46;
}
.home-work-page-one-subtitle {
color: #6B77E5;
font-family: Poppins;
font-size: 20px;
font-weight: 600;
line-height: 1.27;
}
/* Другий блок з домашніх макетів */
.home-work-page-two-container {
}
.home-work-page-two-title {
color: #37393F;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 1.27;
}
.home-work-page-two-text {
color: #7D7D7D;
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 1.46;
}
.home-work-page-two-list {
color: #7D7D7D;
font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 1.46;
}
.page-two-list-item {
}
